html,
body {
  background-color: "black";
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow:hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.content-center {
  z-index: 1;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.title-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  text-align: center;
  color: #fff;
}
.presentation-title {
  font-size: 8em;
  font-weight: 700;
  margin: 0;
  color: #fff;
  background: #fbf8ec;
  background-image: linear-gradient(rgb(255, 255, 255) 25%, rgb(78, 103, 115));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: text;
    background-color: initial;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.imageContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.homeImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:fit-content;
  width:50vw;
  height: 100vh;
  max-width:100%;
  max-height: 100%;
  margin: 0 0 0 0;
  padding: 0;
  background-image: url("/images/image.jpg");
  background-size: cover;
}
.homeImage2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:fit-content;
  width:50vw;
  height: 100vh;
  max-width:100%;
  max-height: 100%;
  margin: 0 0 0 0;
  padding: 0;
  background-image: url("/images/image_2.jpg");
  background-size: cover;
}

.cut-text {
  position: relative;
  text-transform: uppercase;
  font-size: 110px;
  color: transparent;
  font-weight: 900;
  font-family: 'Catamaran', sans-serif;
  font-style: italic;
}
.cut-text:after {
  content: "Can you guess who's real ?";
  position: absolute;
  left: -10px;
  top: -2px;
  color: white;
  -webkit-clip-path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
  clip-path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
}
.cut-text:before {
  content: "Can you guess who's real ?";
  position: absolute;
  color: white;
  -webkit-clip-path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
  clip-path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
}

.stripe-text {
  position: relative;
  font-size: 110px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Catamaran', sans-serif;
  font-style: italic;
}
.stripe-text:after {
  position: absolute;
  top:0px;
  left: 0;
  content: "Can you guess who's real ?";
  background: -webkit-repeating-linear-gradient(135deg, #f41fbf, #f41fbf 20px, #ffed28 20px, #ffed28 40px, #b028ff 40px, #b028ff 60px, #39dbc2 60px, #39dbc2 80px);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke-width: 5.5px;
  -webkit-text-stroke-color: white;
}
.stripe-text:before {
  z-index: -1;
  position: absolute;
  content: "Can you guess who's real ?";
  color: #4d1ff4;
  top: 0px;
  left: 0px;
  text-shadow: 5px 0px #4d1ff4, 6px 1px#4d1ff4, 7px 2px #4d1ff4, 8px 3px #4d1ff4, 9px 4px #4d1ff4, 10px 5px#4d1ff4, 11px 6px#4d1ff4, 12px 7px #4d1ff4, 13px 8px#4d1ff4, 14px 9px#4d1ff4, 15px 10px #4d1ff4;
}

.cyber-text {
  position: relative;
  text-transform: uppercase;
  font-size: 110px;
  font-family: 'Catamaran', sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
.cyber-text:before {
  position: absolute;
  content: "Can you guess who's real ?";
  color: rgba(73, 167, 255, 0.8);
  top: 5px;
  left: 10px;
}
.cyber-text:after {
  z-index: -1;
  position: absolute;
  content: "Can you guess who's real ?";
  color: rgba(255, 56, 56, 0.8);
  top: -5px;
  left: 8px;
}

#animatedBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: url("/images/Planche contact-002.png");
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto 100%;
/*adjust s value for speed*/
  animation: animatedBackground 500s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}

#Special {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
  padding-bottom: 5px;
}